---
import BaseLayout from '../layouts/BaseLayout.astro';


---


<BaseLayout title="Astro About"></BaseLayout>
  <h1>Welcome to About Astro!</h1>
  <p>This is an About using Astro.</p>

  </BaseLayout>